<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>기본 홈</title>
<script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
	<div id="test"></div>
	<button id="bbb" th:onclick="|location.href='@{/plogin}'|" >로그인 페이지</button>
	<button id="cc">RestController로 요청</button>
	
	<script>
		$('#test').html('홈 화면').css('border','1px solid blue');

		$("#cc").click( 
			function(){
				$.ajax({
					type:"get",
					url:"/data",
					success:function(res){
						alert(res);
					},
					error:function(xhr, status, error){
						
					}
				});
			}		
		);
	</script>
</body>
</html>