<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
home
<p th:text="'Hello, ' + ${#httpServletRequest.remoteUser} + '!'"></p>
<a href="/plogin">로그인 페이지로</a>
<!--
	${#httpServletRequest.remoteUser}
Spring의 HttpServletRequest 객체를 사용하여
HttpServletRequest객체의 getRemoteUser() 메서드를 호출하여 현재 로그인한 사용자의 사용자 이름을 반환
 -->
	<form th:action="@{/custom-logout}" method="post">
	        <button type="submit">Logout</button>
	</form>
</body>
</html>