<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
	<button id="bbb">save요청</button>
	
	<br>
	<input type="text" id="iidd">
	<button id="fff">find요청</button>
	<script>
		$("#bbb").click( 
			function(){
				$.ajax({
					type:"get",
					url:"/save",
					success:function(res){
						console.log(res);  // 콘솔에선 JSON.stringify() 안해도 정상출력됨
						// alert(res); // 이렇게하면  [object Object] 나옴, 아래처럼 JSON.stringify() 해줘야 정상 출력
						alert(JSON.stringify(res));
					},
					error:function(xhr, status, error){
						alert(xhr.responseText);
					}
				});
			}		
		);
		$("#fff").click( 
			function(){
				var params = {
					nnn: $("#iidd").val()
				}
				$.ajax({
					type:"get",
					url:"/find",
					data:params,
					
					success:function(res){
						console.log(res);  // 콘솔에선 JSON.stringify() 안해도 정상출력됨
						// alert(res); // 이렇게하면  [object Object] 나옴, 아래처럼 JSON.stringify() 해줘야 정상 출력
						alert(JSON.stringify(res));
					},
					error:function(xhr, status, error){
						alert(xhr.responseText);
					}
				});
			}		
		);
	</script>
</body>
</html>
